[build]
  base = "frontend"
  command = "npm run build"
  publish = ".next"

# Next.js Runtime
[functions]
  directory = "netlify/functions"
  node_bundler = "esbuild"

[[plugins]]
  package = "@netlify/plugin-nextjs"
